

h1 {  background-color: #909497;
}

div {
  background-color: #909497;
}

p {
  background-color: #E8EFF7;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
    border-radius: 50%;

}   

h1 {text-align: center;}
ul {
  list-style-type: none;
  margin: 700;
  padding:700;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 61px 70px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
p {
  border: 10px #909497;
  border-radius: 5px;
}
